<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.algorithm.mapper.MrphistoryMapper">
    
    <resultMap type="Mrphistory" id="MrphistoryResult">
        <result property="itemCode"    column="itemCode"    />
        <result property="cycleNum"    column="cycleNum"    />
        <result property="MRPNum"    column="MRPNum"    />
        <result property="actualUsage"    column="actualUsage"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectMrphistoryVo">
        select itemCode, cycleNum, MRPNum, actualUsage, id from mrphistory
    </sql>

    <select id="selectMrphistoryList" parameterType="Mrphistory" resultMap="MrphistoryResult">
        <include refid="selectMrphistoryVo"/>
        <where>  
            <if test="itemCode != null  and itemCode != ''"> and itemCode = #{itemCode}</if>
            <if test="cycleNum != null "> and cycleNum = #{cycleNum}</if>
            <if test="MRPNum != null "> and MRPNum = #{MRPNum}</if>
            <if test="actualUsage != null "> and actualUsage = #{actualUsage}</if>
        </where>
    </select>
    
    <select id="selectMrphistoryById" parameterType="String" resultMap="MrphistoryResult">
        <include refid="selectMrphistoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMrphistory" parameterType="Mrphistory">
        insert into mrphistory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">itemCode,</if>
            <if test="cycleNum != null">cycleNum,</if>
            <if test="MRPNum != null">MRPNum,</if>
            <if test="actualUsage != null">actualUsage,</if>
            <if test="id != null">id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">#{itemCode},</if>
            <if test="cycleNum != null">#{cycleNum},</if>
            <if test="MRPNum != null">#{MRPNum},</if>
            <if test="actualUsage != null">#{actualUsage},</if>
            <if test="id != null">#{id},</if>
         </trim>
    </insert>

    <update id="updateMrphistory" parameterType="Mrphistory">
        update mrphistory
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">itemCode = #{itemCode},</if>
            <if test="cycleNum != null">cycleNum = #{cycleNum},</if>
            <if test="MRPNum != null">MRPNum = #{MRPNum},</if>
            <if test="actualUsage != null">actualUsage = #{actualUsage},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMrphistoryById" parameterType="String">
        delete from mrphistory where id = #{id}
    </delete>

    <delete id="deleteMrphistoryByIds" parameterType="String">
        delete from mrphistory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>